.container {
	width: 100%;
}

#wrapper {
	background-color: #26A69A;
	width: 100%;
	height: 100%;
}

#wrapper-img {
	position: absolute;
	width: 100%;
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

#navbarcollapse {
	background-color: #dddfd4;
}

#navbar-background {
	background-color: #dddfd4
}

#profile-image {
	width: 15%;
	height: 200px;	
}

#my-image {
	margin-top: 1%;
	margin-bottom: 5%;
	max-width: 25%;
	border: 5px solid #dddfd4;
	border-radius: 100%;
	width: 100%;
	height: 100%;
}

#sidebar-wrapper {
	z-index: 1; /*To make the links clickable with position: absolute */
	position: absolute;
	width: 0;
	overflow-y: hidden;
	background: #000000;
	opacity: 0.7;
}

#page-content-wrapper {
	position: absolute;
	width: 100%;
}

/*Change the width of the sidebar to displayed
#wrapper.menuDisplayed #sidebar-wrapper {
	width: 20%;
}
*/

#wrapper.menuDisplayed #page-content-wrapper #right-sidebar-toggle {
	margin-left: 20%;
	background: url("arrow-inverted.png");
}

.sidebar-nav {
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li a:hover {
	background: #16A085;
}

.text {
	font-family: Arimo, Arial, sans-serif;
	color: white;
}