body {
	margin: 0px 0px 0px 0px; /*To get rid of white border around webpage*/
	overflow-x: hidden; /*To not allow horizontal scrolling*/
	/*font-family: sans-serif, Verdana;*/
}

#navigation-bar {
	position: fixed;
	height: 60px;
	z-index: 9999;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%; 
	background-image: linear-gradient(#0033cc, #0033cc);
}

#nav-name {
	position: absolute;
	float: left;
	margin-left: 5%;
	color: white;
	text-transform: uppercase;
	top: -12%;
}

#nav-table {
	height: 100%;
	float: right;
}

.nav-td {
	/*border: 1px solid white;*/
	padding-right: 20px;
	width: 160px;
}

.nav-link {
	color: white;
	font-size: 27px;
	text-decoration: none;
}

a.nav-link:hover {
	color: #00ffff;
	font-size: 30px;
}

#profile-image {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 8%;
	left: 39%;
}

#my-image {
	border-radius: 100%;
	width: 100%;
	height: 100%;
	display: inline-block;
}

#left-images {
	position: absolute;
	top: 8%;
	left: 10%;
}

#github {
	position: absolute;
	left: -30px;
	margin-top: 20%;
	width: 200px;
	height: 200px;
}

#github-image {
	width: 100%;
	height: 100%;
}

#right-images {
	position: absolute;
	top: 8%;
	right: 10%;
}

#mail {
	position: absolute;
	display: block;
	right: -30px;
	width: 150px;
	height: 150px;
}

#mail-image {
	width: 100%;
	height: 100%;
}

#linkedin {
	position: absolute;
	top: 80%;
	right: -30px;
	margin-top: 20%;
	width: 150px;
	height: 150px;
}

#linkedin-image {
	width: 100%;
	height: 100%;
}

#intro {
	position: absolute;
	top: 60px;
	height: 700px;
	width: 100%;
	background: url(light-blue-banner.jpg);
	/*background-color: #e3f2fd;*/
}

#intro-line {
	position: absolute;
	top: 60%;
	left: 24%;
	color: white;
	font-size: 60px;
	text-transform: uppercase;
}

#caption {
	position: absolute;
	font-size: 30px;
	color: #000080;
	top: 80%;
	left: 18.5%;
}

